<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" sizes="32x32" href="/imgs/cover.png" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@300;400&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="\css\login.css" />
		<title>BFF Finder</title>
	</head>
	<body>
		<div id="mainContainer">
			<!-- !header -->
			<header>
				<div class="mainTitle">
					<h1 class="mainTitle">
						<a href="/feed"
							><img id="logo" src="imgs/mainCover.png" alt="DogFind"
						/></a>
					</h1>
				</div>
			</header>
			<!-- !main -->
			<main>
				<div class="row justify-content-center">
					<section class="col-6 mt-5">
						<% if (locals.messages.errors) { %>
						<%messages.errors.forEach(el=>{%>
						<div class="alert alert-danger"><%= el.msg %></div>
						<% }) %> <% } %> <% if (locals.messages.info) { %> <%
						messages.info.forEach( el => { %>
						<div class="alert alert-info"><%= el.msg %></div>
						<% }) %> <% } %>
						<form action="/signup" method="POST">
							<div class="email">
								<label for="userName" class="form-label">User Name</label>
								<input
									type="text"
									class="form-control"
									id="userName"
									name="userName"
								/>
							</div>
							<div class="pass">
								<label for="exampleInputEmail1" class="form-label"
									>Email address</label
								>
								<input
									type="email"
									class="form-control"
									id="exampleInputEmail1"
									aria-describedby="emailHelp"
									name="email"
								/>
								<div id="emailHelp" class="form-text">
									We'll never share your email with anyone else.
								</div>
							</div>
							<div class="pass">
								<label for="password" class="form-label">Password</label>
								<input
									type="password"
									class="form-control"
									id="password"
									name="password"
								/>
							</div>
							<div class="pass">
								<label for="confirmPassword" class="form-label"
									>Confirm Password</label
								>
								<input
									type="password"
									class="form-control"
									id="confirmPassword"
									name="confirmPassword"
								/>
							</div>
							<div class="btnContainer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</section>
				</div>
			</main>
			<!-- !footer -->
			<footer>
				<span>
					<a id="portfolio" href="https://marcoscardoso.netlify.app"
						>Marcos Cardoso</a
					>
					&copy; 2021</span
				>
			</footer>
		</div>
	</body>
</html>
