<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<p>
			Demo from this article:
			<a
				href="https://gomakethings.com/how-to-make-multiple-fetch-calls-with-the-same-oauth-token-in-vanilla-js/"
				>https://gomakethings.com/how-to-make-multiple-fetch-calls-with-the-same-oauth-token-in-vanilla-js/</a
			>
		</p>

		<p>
			Add your Petfinder API key and secret to the variables in the JS section,
			then check the console.
		</p>

		<p>
			<button id="refresh">Make a Call</button>
		</p>
		<button id="getPet">get pet</button>
		<h2></h2>

		<img id="pokeImg1" src="" alt="" />
		<script src="main.js"></script>
	</body>
</html>
