html {
	/* box-shadow: inset 0 -290px 20px -20px black, 0 10px 0 1000px rgb(0, 0, 0),
		inset 0 200px 500px -150px rgba(255, 0, 157, 0.438); */
	box-shadow: inset 0 -290px 20px -20px black, 0 10px 0 1000px rgb(0, 0, 0);
	/* background-color: rgba(233, 25, 153, 0.233); */
	bottom: 0;
}

#mainCont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#container {
	display: grid;
	max-width: 1200px;
	grid-template-areas:
		'head'
		'main'
		'buttons'
		'foot';
	justify-self: center;
	font-family: 'Roboto', sans-serif;
}

main {
	height: 600px;
}

/*! heading section */
header {
	display: grid;
	grid-area: head;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	padding-top: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.mainTitle {
	display: flex;
	justify-content: center;
}

h1 {
	margin-top: 3px;
}

#logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 2px gray;
}
#logo:hover {
	box-shadow: 0px 0px 3px 2px black;
}

.siteFunctions {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.funcBtns {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: 3px solid green;
	border-radius: 50%;
	color: green;
	margin-bottom: 10%;
	width: 70px;
	height: 70px;
	font-size: 25px;
}

#logoutBtn {
	border: 3px solid red;
	color: red;
}

.funcBtns:hover {
	box-shadow: 0px 0px 3px green, inset 0px 0px 3px green;
}

#logoutBtn:hover {
	border: 3px solid red;
	box-shadow: 0px 0px 3px red, inset 0px 0px 3px red;
	color: red;
}

.funcBtns:active {
	color: WHITE;
	background-color: green;
}

#logoutBtn:active {
	color: WHITE;
	background-color: red;
}

/*! main form */
form {
	display: grid;
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	height: 450px;
}

/*! dog image */
.dogPhoto {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4),
		inset 0px 0px 100px 5px rgba(85, 85, 85, 0.199);
}

#dogImg {
	max-height: 449px;
	border-radius: 10px;
}

/*! dog description */
.dogInfo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* background-color: rgb(255, 0, 0); */
	padding: 1% 1.5% 1% 1.5%;
}

.dogInfo > div {
	width: 100%;
	padding: 1.3%;
	margin: 0.5%;
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.mb-3 > input {
	width: 98%;
	font-size: 1.5rem;
	border-style: hidden;
}

.mb-3 > input:focus {
	outline: none;
}

/*! control  buttons */
.actionBtns {
	grid-area: buttons;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 4%;
	padding: 1%;
}

.btn {
	width: 90px;
	height: 90px;
	border: 3px solid green;
	background-color: black;
	border-radius: 50%;
	color: green;
	margin-top: 2%;
	font-size: 30px;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	cursor: pointer;
	box-shadow: 0px 0px 8px green, inset 0px 0px 8px green;
}

.btn:active {
	background-color: green;
	color: white;
	box-shadow: none;
}

#refresh {
	color: red;
	border: 3px solid red;
}

#refresh:hover {
	box-shadow: 0px 0px 8px red, inset 0px 0px 8px red;
}

#refresh:active {
	width: 88px;
	height: 88px;
	background-color: red;
	color: white;
	box-shadow: none;
}

/* footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	grid-area: foot;
	margin-top: 8%;
}

footer > span {
	padding-top: 5%;
}

#portfolio {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 900px) {
	#doggender,
	#dogphone,
	#dogemail {
		display: none;
	}
	html {
		/* box-shadow: inset 0 -290px 20px -20px black, 0 10px 0 1000px rgb(0, 0, 0),
		inset 0 200px 500px -150px rgba(255, 0, 157, 0.438); */
		box-shadow: inset 0 -250px 20px -20px black, 0 10px 0 1000px rgb(0, 0, 0);
		/* background-color: rgba(233, 25, 153, 0.233); */
		bottom: 0;
	}
	/* ! main */
	main {
		height: 800px;
	}

	/*! main form */
	#petForm {
		display: grid;
		grid-template-areas:
			'img'
			'description';
		grid-area: main;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		height: fit-content;
		justify-self: center;
	}

	/*! dog image */
	.dogPhoto {
		grid-area: img;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4),
			inset 0px 0px 100px 5px rgba(85, 85, 85, 0.199);
		height: 450px;
	}

	#dogImg {
		max-height: 449px;
		border-radius: 10px;
	}
	/*! dog description */
	.dogInfo {
		grid-area: description;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 1% 1.5% 1% 1.5%;
	}

	.dogInfo > div {
		width: 100%;
		padding: 1.3%;
		margin: 0.5%;
		border-radius: 5px;
		box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	}

	.mb-3 > input {
		width: 98%;
		font-size: 1.5rem;
		border-style: hidden;
	}

	.mb-3 > input:focus {
		outline: none;
	}
	.btn {
		margin-top: 0px;
	}
	header {
		padding: 0;
	}
}
