html {
	height: fit-content;
	box-shadow: inset 0 200px 500px -150px rgba(255, 0, 157, 0.438);
	background-color: rgb(252, 242, 247);
}

#mainContainer {
	padding-top: 250px;
	font-family: 'Roboto', sans-serif;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
}
#logo {
	max-width: 600px;
}

/* !buttons */
.funcBtns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: gray;
	box-shadow: inset 0px 0px 10px 5px rgba(245, 120, 214, 0.74),
		0px 0px 3px 1px rgb(116, 116, 116);
	border-radius: 50%;
	margin-bottom: 15%;
	width: 75px;
	height: 75px;
}

button {
	border: none;
}

.funcBtns:hover {
	box-shadow: inset 0px 0px 10px 5px rgb(245, 120, 214);
}

.funcBtns:active {
	background-color: rgb(245, 120, 214);
	color: white;
}

.btn {
	width: 90px;
	height: 90px;
	border: 3px solid green;
	background-color: black;
	border-radius: 50%;
	color: green;
	margin-top: 2%;
	font-size: 30px;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	cursor: pointer;
	box-shadow: 0px 0px 8px green, inset 0px 0px 8px green;
}

.btn:active {
	/* width: 88px;
	height: 88px; */
	background-color: green;
	color: white;
	box-shadow: none;
}
/* !footer */

footer {
	grid-area: foot;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	grid-area: foot;
	margin-top: 50px;
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
	background: black;
	box-shadow: 0 -30px 20px 20px black;
}

footer > span {
	text-decoration: none;
}

#portfolio {
	text-decoration: none;
	color: white;
}
