html {
	box-shadow: inset 0 -270px 20px -20px black, 0 10px 0 1000px rgb(0, 0, 0);
	bottom: 0;
	font-family: 'Roboto', sans-serif;
}

#container {
	display: grid;
	max-width: 1200px;
	grid-template-areas:
		'head'
		'main'
		'buttons'
		'foot';
	font-family: 'Roboto', sans-serif;
}
/*! header  */
header {
	width: 100%;
	display: grid;
	grid-area: head;
	/* border: 1px solid black; */
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
}
.mainTitle {
	display: flex;
	justify-content: center;
}

h1 {
	margin-top: 3px;
}

#logo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 2px gray;
}

#logo:hover {
	box-shadow: 0px 0px 3px 2px black;
}

.siteFunctions {
	display: flex;
	justify-content: space-around;
}

.funcBtns {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: green;
	/* box-shadow: inset 0px 0px 35px 5px White, 0px 0px 3px 1px rgb(116, 116, 116); */
	border: 3px solid green;
	border-radius: 50%;
	margin-bottom: 10%;
	width: 70px;
	height: 70px;
	font-size: 25px;
}
#logoutBtn {
	color: red;
	border: 3px solid red;
}

.funcBtns:hover {
	box-shadow: 0px 0px 3px green, inset 0px 0px 3px green;
}

#logoutBtn:hover {
	box-shadow: 0px 0px 3px red, inset 0px 0px 3px red;
}

.funcBtns:active {
	background-color: green;
	color: white;
}
#logoutBtn:active {
	background-color: red;

	color: white;
}
.userInfoContainer {
	grid-area: main;
}

/* !card */
.cardContainer {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	height: 450px;
	border-radius: 10px;
	box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4),
		inset 0px 0px 100px 5px rgba(85, 85, 85, 0.199);
	margin-top: 30px;
}
.imgContainer {
	display: flex;
}

.petImg {
	margin-left: auto;
	margin-right: auto;
	max-height: 439px;
	border-radius: 10px;
}

.petInfo {
	font-size: 20px;
	color: black;
}

/* !delete button */
.deleteBtnContainer {
	grid-area: buttons;
	display: flex;
	justify-content: center;
}

.fa-trash {
	width: 90px;
	height: 90px;
	border: 3px solid red;
	border-radius: 50%;
	color: red;
	background-color: black;
	margin-top: 60%;
	font-size: 30px;
}

.fa-trash:hover {
	cursor: pointer;
	box-shadow: 0px 0px 8px red, inset 0px 0px 8px red;
}

.fa-trash:focus {
	border: none;
}
.fa-trash:active {
	background-color: red;
	color: white;
	box-shadow: none;
}
/* !footer */
footer {
	grid-area: foot;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	grid-area: foot;

	margin-top: 50px;
}

footer > span {
	padding-top: 5%;
	text-decoration: none;
}

#portfolio {
	text-decoration: none;
	color: white;
}
